<!-- footer section -->
<footer id="footer-section">
  <div class="container-fluid">
    <a href="mailto:sala.jonatan1995@gmail.com" class="btn"><i class="fa fa-paper-plane"></i>Contact</a>
    <div class="social-container">
      <a target="_blank" href="https://ie.linkedin.com/in/ionatan-sala-a62776a8"><i class="fa fa-linkedin-square"></i></a>
      <a target="_blank" href="https://twitter.com/JonatanSala"><i class="fa fa-twitter-square"></i></a>
      <a target="_blank" href="https://github.com/IonatanSala"><i class="fa fa-github-square"></i></a>
    </div>
    <p> &copy; Ionatan Sala 2015. </p>
  </div>
</footer>